@font-face {
	font-family: "sf";
	src: url("sf.eot?5f04fe019b06c2451d89cd78713b918e?#iefix") format("embedded-opentype"),
url("sf.woff2?5f04fe019b06c2451d89cd78713b918e") format("woff2"),
url("sf.woff?5f04fe019b06c2451d89cd78713b918e") format("woff");
}

.sf {
	line-height: 1;
}

.sf:before {
	font-family: sf !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.sf-certificate:before {
	content: "\f101";
}
.sf-crown:before {
	content: "\f102";
}
.sf-envelope:before {
	content: "\f103";
}
.sf-menu:before {
	content: "\f104";
}
.sf-thumb:before {
	content: "\f105";
}
