@font-face {
	font-family: "sf";
	src: url("sf.eot?4965a0593e29b0b8d9baba351cfd63e6?#iefix") format("embedded-opentype"),
url("sf.woff2?4965a0593e29b0b8d9baba351cfd63e6") format("woff2"),
url("sf.woff?4965a0593e29b0b8d9baba351cfd63e6") format("woff");
}

.sf {
	line-height: 1;
}

.sf:before {
	font-family: sf !important;
	font-style: normal;
	font-weight: 900;
	vertical-align: top;
}

.sf-sf-certificate:before {
	content: "\f101";
}
.sf-sf-crown:before {
	content: "\f102";
}
.sf-sf-envelope:before {
	content: "\f103";
}
.sf-sf-menu:before {
	content: "\f104";
}
.sf-sf-thumb:before {
	content: "\f105";
}
