@font-face {
	font-family: "smazfont";
	src: url("smazfont.eot?11d0eed1cfc812f406ab1a3675867b63?#iefix") format("embedded-opentype"),
url("smazfont.woff2?11d0eed1cfc812f406ab1a3675867b63") format("woff2"),
url("smazfont.woff?11d0eed1cfc812f406ab1a3675867b63") format("woff");
}

.sf {
	line-height: 1;
}

.sf:before {
	font-family: smazfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.sf-smazterfont-cert:before {
	content: "\f101";
}
.sf-smazterfont-crown:before {
	content: "\f102";
}
.sf-smazterfont-envelope:before {
	content: "\f103";
}
.sf-smazterfont-menu:before {
	content: "\f104";
}
.sf-smazterfont-thumb:before {
	content: "\f105";
}
